## Task 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [24]:
import numpy  as np

In [27]:
def fruits_counter(**kwargs):
    fruits_count = np.array([kwargs[key] for key in kwargs.keys()])
    return np.sum(fruits_count)

In [30]:
d = {'r':2, 't':3, 'y':4}
print(fruits_counter(**d))

9

## Task 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [31]:
costs =  [100, 125, -90, 345, 655, -1, 0, 200]

In [35]:
general_cost = np.array([i if i > 0 else 0 for i in costs])

In [36]:
print(np.sum(general_cost))

1425

## Task 4

Даны два списка. <br>
Дата покупки <br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
<br>Суммы покупок по датам <br>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1
Найдите, какая выручка у компании в ноябре/ Используйте list comprehensions

In [1]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchases_costs = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [2]:
def november_revenue(list1, list2):
    revenue = [list2[i] for i in range(len(list2)) if list1[i].split('-')[1] == '11']
    print(revenue)

In [3]:
november_revenue(purchase_dates, purchases_costs)

[4944, 3701, 7037, 4274, 2004, 2822, 316]

### 4.2
Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [15]:
def month_revenue(list1: list, list2: list)->dict:
    month_revenue = {'01': 0,'02':0,'03':0,'04':0,'05':0,'06':0,'07':0,'08':0,'09':0,'10':0,'11':0,'12':0}
    for i in range(len(list1)):
        if (list1[i].split('-')[1] in month_revenue):
            month_revenue[list1[i].split('-')[1]] = month_revenue[list1[i].split('-')[1]] + list2[i]
    return month_revenue

In [16]:
month_revenue(purchase_dates, purchases_costs)

{'01': 0,
 '02': 0,
 '03': 0,
 '04': 0,
 '05': 0,
 '06': 0,
 '07': 0,
 '08': 0,
 '09': 25647,
 '10': 28645,
 '11': 25098,
 '12': 45452}